body {
    font-family: Arial, sans-serif;
    background-color: #e6ffe6; /* verde claro */
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    color: #333;
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}
